<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="{{ site.baseurl }}/public/js/jquery-2.1.3.min.js"></script>




  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css?v={{ site.github.build_revision }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css?v={{ site.github.build_revision }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css?v={{ site.github.build_revision }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml?v={{ site.github.build_revision }}">
  
  <!-- SEM -->
  
  {% seo %}
   <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DNVCPMGDQC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DNVCPMGDQC');
    </script>
      <script>
        function sendToGoogleAnalytics({name, delta, value, id}) {
            // Assumes the global `gtag()` function exists, see:
            // https://developers.google.com/analytics/devguides/collection/ga4
            gtag('event', name, {
              // Built-in params:
              value: delta, // Use `delta` so the value can be summed.
              // Custom params:
              metric_id: id, // Needed to aggregate events.
              metric_value: value, // Optional.
              metric_delta: delta, // Optional.
    
              // OPTIONAL: any additional params or debug info here.
              // See: https://web.dev/articles/debug-performance-in-the-field
              // metric_rating: 'good' | 'needs-improvement' | 'poor',
              // debug_info: '...',
              // ...
            });
          }
        (function () {
          var script = document.createElement('script');
          script.src = 'https://unpkg.com/web-vitals@3/dist/web-vitals.iife.js';
          script.onload = function () {
            // When loading `web-vitals` using a classic script, all the public
            // methods can be found on the `webVitals` global namespace.
            webVitals.onCLS(sendToGoogleAnalytics);
            webVitals.onFID(sendToGoogleAnalytics);
            webVitals.onLCP(sendToGoogleAnalytics);
            webVitals.onINP(sendToGoogleAnalytics);
          };
          document.head.appendChild(script);
        })();
      </script>
      
    <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,"cookiePolicyInOtherWindow":true,"countryDetection":true,"enableLgpd":true,"enableUspr":true,"floatingPreferencesButtonDisplay":"bottom-right","lgpdAppliesGlobally":false,"perPurposeConsent":true,"siteId":3132343,"whitelabel":false,"cookiePolicyId":92492221,"lang":"it","cookiePolicyUrl":"https://jaco.it/blog/cookie-policy.html","privacyPolicyUrl":"https://jaco.it/blog/cookie-policy.html","privacyPolicyNoticeAtCollectionUrl":"https://jaco.it/blog/cookie-policy.html", "banner":{ "acceptButtonDisplay":true,"closeButtonDisplay":false,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"position":"float-bottom-left","rejectButtonDisplay":true,"showPurposesToggles":true }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</head>
